<div class="flex items-center mb-5">
  <h1 class="text-3xl font-bold grow">Categories</h1>
  <a [routerLink]="['/category']"
    class="p-2 bg-blue-500 text-white hover:bg-white hover:text-blue-500
      border-2 border-gray-500 rounded">
    New Category
  </a>
</div>
<ul>
  <li *ngFor="let category of categories$ | async"
    class="mb-3 flex items-center border-b-2 border-gray-500 rounded pb-1">
    <div class="grow">{{category.name}}</div>
    <button class="p-2 border-2 border-gray-500 rounded ml-3 bg-orange-500 text-white
      hover:bg-white hover:text-orange-500">
      Edit
    </button>
    <button class="p-2 border-2 border-gray-500 rounded ml-3 bg-red-500 text-white
      hover:bg-white hover:text-red-500">
      Delete
    </button>
  </li>
</ul>